---
import BaseHead from '../components/BaseHead.astro';
import CardGrid from '../components/CardGrid/CardGrid';
import Header from '../components/Header/Header';
import Hero from '../components/Hero/Hero';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_CARDS } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <Hero />
	  <div class="center">
		<CardGrid cards={SITE_CARDS}/>
	  </div>
    </main>
  </body>
</html>
